.componentStyle {
  background-color: white;
  margin: 25px;
}

#growRuleBanner {
	padding-top: 2%;
	padding-right: 2%;
	display: block;
    margin: auto;
    width: 40%;
}

body {
	padding-left: 4%;
}

.createCloneButton {
	position: absolute;
	top: 7%;
	left: 30%;
	z-index: 1;
}

.movePlantButton {
	position: absolute;
	top: 7%;
	left: 46%;
	z-index: 1;
}

.harvestPlantButton {
	position: absolute;
	top: 32%;
	left: 25%;
	z-index: 1;
}

.cullPlantButton {
	position: absolute;
	top: 31%;
	left: 52%;
	z-index: 1;
}

.makeMomButton {
	position: absolute;
	top: 57%;
	left: 30%;
	z-index: 1;
}

.viewDataButton {
	position: absolute;
	top: 55%;
	left: 46%;
	z-index: 1;
}
footer {
	clear: all;
	text-align: center;
	padding: 5%;
}
