.componentStyle {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 25px;
}

#growRuleBanner {
	padding-top: 2%;
	padding-right: 2%;
	display: block;
    margin: auto;
    width: 40%;
}

body {
	padding-left: 4%;
}
/*
#buttonContainer {
	position: relative;
	padding: 5%;
}*/

.button1 {
	position: absolute;
	z-index: 50;
}

.button2 {
	position: absolute;
	z-index: 60;
}

.button3 {
	position: absolute;
	z-index: 100;
}

.button4 {
	position: absolute;
	z-index: 120;
}

.button5 {
	position: absolute;
	z-index: 140;
}

.button6 {
	position: absolute;
	z-index: 160;
}
footer {
	clear: all;
	text-align: center;
	padding: 5%;
}
